# Dependances Node
node_modules/
package-lock.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Fichiers temporaires ou de build intermediaires (si besoin)
# test.css

# System / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
